{
  cryptotrader:
    api_key: "demo"

  mtgox:
    key: ""
    secret: ""

  bitstamp:
    clientid: ""
    key: ""
    secret: ""

  btce:
    key: "BTCE_KEY"
    secret: "BTCE_SECRET"

  cexio:
    clientid: ""
    key: ""
    secret: ""
}
